:root {
  color: rgb(68, 68, 68);
  font-weight: 400;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: white;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
a {
  color: #646464;
  font-weight: 500;
  text-decoration: inherit;
} */

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  place-items: center;
}

/* 
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  
  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */


/* @media (prefers-color-scheme: dark) {
  :root {
    color: white;
    background-color: #57a1e2;
  }


  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */